.grid {
    border: 1px solid black;
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.ending-block {
    background-color: blue;
}

.starting-block {
    background-color: yellow;
}
.l1, .l2, .l3 {
    background-color: steelblue;
}

.l4, .l5 {
    background-color: red;
}

.c1 {
    background-color: black;
}

.c2, .c3 {
    background-color: lightgrey;
}

.frog {
    background-color: green;
}

/*Whack-a-Mole*/

.grids {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("a.jpg");
	background-size: cover;
}